// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  [guiType="CropBox"] > {
    .Top,
    .Middle > .Left,
    .Middle > .Right,
    .Bottom {
      @include setOpacity(30);
      background-color: $COM_WUI_FRAMEWORK_BLACK;
    }

    .Middle > .Center > {
      .Top,
      .Middle,
      .Bottom {
        > {
          .Left,
          .Right {
            width: 5px;
          }
        }
      }

      .Top,
      .Bottom {
        > {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GRAY;
            height: 5px;
          }
        }
      }

      .Middle > {
        .Left,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY;
        }
      }

      .Top > .Left,
      .Bottom > .Right {
        background-color: $COM_WUI_FRAMEWORK_RED;
      }
    }
  }

  .CropBox {
    .ResizeBar {
      &,
      .On,
      .Active {
        .XY {
          height: 5px;
          left: 1px;
          top: -2px;
          width: 5px;
        }
      }
    }
  }
}
