// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  .Notification {
    .Background,
    .Background .Left,
    .Background .Center,
    .Background .Right {
      height: 29px;
    }

    .Background {
      width: 100px;

      .Left {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        width: 5px;
      }

      .Center {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        width: 90px;
      }

      .Right {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        width: 5px;
      }
    }

    .Text {
      color: $notificationColor;
      font-size: 12px;
      line-height: 13px;
      top: 1px;
    }

    .Info {
      .Background {
        .Left {
          background-color: $infoBackgroundColor;
          border-bottom: 1px solid $infoColor;
          border-left: 1px solid $infoColor;
          border-top: 1px solid $infoColor;
        }

        .Center {
          background-color: $infoBackgroundColor;
          border-bottom: 1px solid $infoColor;
          border-top: 1px solid $infoColor;
        }

        .Right {
          background-color: $infoBackgroundColor;
          border-bottom: 1px solid $infoColor;
          border-right: 1px solid $infoColor;
          border-top: 1px solid $infoColor;
        }
      }

      .Text {
        color: $infoColor;
      }
    }

    .Warning {
      .Background {
        .Left {
          background-color: $warningBackgroundColor;
          border-bottom: 1px solid $warningColor;
          border-left: 1px solid $warningColor;
          border-top: 1px solid $warningColor;
        }

        .Center {
          background-color: $warningBackgroundColor;
          border-bottom: 1px solid $warningColor;
          border-top: 1px solid $warningColor;
        }

        .Right {
          background-color: $warningBackgroundColor;
          border-bottom: 1px solid $warningColor;
          border-right: 1px solid $warningColor;
          border-top: 1px solid $warningColor;
        }
      }

      .Text {
        color: $warningColor;
      }
    }

    .Error {
      .Background {
        .Left {
          background-color: $errorBackgroundColor;
          border-bottom: 1px solid $errorColor;
          border-left: 1px solid $errorColor;
          border-top: 1px solid $errorColor;
        }

        .Center {
          background-color: $errorBackgroundColor;
          border-bottom: 1px solid $errorColor;
          border-top: 1px solid $errorColor;
        }

        .Right {
          background-color: $errorBackgroundColor;
          border-bottom: 1px solid $errorColor;
          border-right: 1px solid $errorColor;
          border-top: 1px solid $errorColor;
        }
      }

      .Text {
        color: $errorColor;
      }
    }

    .Success {
      .Background {
        .Left {
          background-color: $successBackgroundColor;
          border-bottom: 1px solid $successColor;
          border-left: 1px solid $successColor;
          border-top: 1px solid $successColor;
        }

        .Center {
          background-color: $successBackgroundColor;
          border-bottom: 1px solid $successColor;
          border-top: 1px solid $successColor;
        }

        .Right {
          background-color: $successBackgroundColor;
          border-bottom: 1px solid $successColor;
          border-right: 1px solid $successColor;
          border-top: 1px solid $successColor;
        }
      }

      .Text {
        color: $successColor;
      }
    }
  }
}
