// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  .ResizeBar {
    top: 1px;

    .X,
    .Y,
    .XY {
      background-color: $COM_WUI_FRAMEWORK_WHITE;
      border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      height: 3px;
      width: 5px;
    }

    .On {
      .X,
      .Y,
      .XY {
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_DARK;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_DARK;
      }
    }

    .Active {
      .X,
      .Y,
      .XY {
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
      }
    }
  }
}
