// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  .ScrollBar {
    .Tracker .Button .Off .Top,
    .Tracker .Button .Off .Center,
    .Tracker .Button .Off .Bottom,
    .Tracker .Button .On .Top,
    .Tracker .Button .On .Center,
    .Tracker .Button .On .Bottom,
    .Tracker .Button .Active .Top,
    .Tracker .Button .Active .Center,
    .Tracker .Button .Active .Bottom {
      height: 7px;
      width: 7px;
    }

    .UpArrow,
    .DownArrow {
      .Off {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      .On {
        background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      .Active {
        background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }

    .Tracker {
      background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
    }

    .Icon {
      position: relative;
    }

    .Vertical {
      .HoverExpand {
        width: 0;
      }

      .ContentOffset {
        width: 9px;
      }

      .UpArrow .Off,
      .DownArrow .Off,
      .UpArrow .On,
      .DownArrow .On,
      .UpArrow .Active,
      .DownArrow .Active {
        height: 7px;
        width: 7px;
      }

      .Tracker {
        height: 300px;
        width: 9px;

        .Button {
          .Off,
          .On {
            .Top {
              border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }

            .Top,
            .Center,
            .Bottom {
              background-color: $COM_WUI_FRAMEWORK_WHITE;
              border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
              border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }

            .Bottom {
              border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }
          }

          .Active {
            .Top {
              border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }

            .Top,
            .Center,
            .Bottom {
              background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
              border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
              border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }

            .Bottom {
              border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }
          }
        }
      }

      .Icon {
        height: 2px;
        left: 2px;
        top: 2px;
        width: 3px;
      }

      .UpArrow .Icon {
        border-top: 1px solid $linkColor;
      }

      .Button .Icon {
        border-bottom: 1px solid $linkColor;
        border-top: 1px solid $linkColor;
      }

      .DownArrow .Icon {
        border-bottom: 1px solid $linkColor;
      }
    }

    .Horizontal {
      .HoverExpand {
        height: 0;
      }

      .ContentOffset {
        height: 9px;
      }

      .UpArrow .Off,
      .DownArrow .Off,
      .UpArrow .On,
      .DownArrow .On,
      .UpArrow .Active,
      .DownArrow .Active {
        height: 7px;
        width: 7px;
      }

      .Tracker {
        height: 9px;
        width: 300px;

        .Button {
          .Off,
          .On {
            .Top {
              border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }

            .Top,
            .Center,
            .Bottom {
              background-color: $COM_WUI_FRAMEWORK_WHITE;
              border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
              border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }

            .Bottom {
              border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            }
          }

          .Active {
            .Top {
              border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }

            .Top,
            .Center,
            .Bottom {
              background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
              border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
              border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }

            .Bottom {
              border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            }
          }
        }
      }

      .Icon {
        height: 3px;
        left: 2px;
        top: 2px;
        width: 2px;
      }

      .UpArrow .Icon {
        border-left: 1px solid $linkColor;
      }

      .Button .Icon {
        border-left: 1px solid $linkColor;
        border-right: 1px solid $linkColor;
      }

      .DownArrow .Icon {
        border-right: 1px solid $linkColor;
      }
    }

    .Vertical,
    .Horizontal {
      .Tracker .Button .On {
        .Top,
        .Center,
        .Bottom {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        }
      }
    }
  }
}
