// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  [guiType="SelectBox"] {
    > .Background {
      height: 32px;
      left: -5px;
      top: -5px;

      .Top,
      .Bottom {
        .Left,
        .Right {
          height: 5px;
          width: 5px;
        }

        .Center {
          height: 5px;
        }
      }

      .Top {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }

      .Middle {
        .Left,
        .Right {
          width: 5px;
        }

        .Left {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Center {
          background-color: $COM_WUI_FRAMEWORK_WHITE;

          > .Content {
            left: -5px;
            top: -5px;
          }
        }

        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }

      .Bottom {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }
  }

  .SelectBox {
    height: 32px;
    width: 32px;

    .Options {
      .Option {
        height: 30px;

        .Off,
        .On,
        .Active {
          height: 30px;
        }

        .On,
        .Active {
          background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .On .Text,
        .Active .Text {
          color: $COM_WUI_FRAMEWORK_WHITE;
        }

        .Icon,
        .Text {
          left: 5px;
          top: 5px;
        }

        .Icon {
          margin-right: 5px;
          top: 13px;
        }

        .Text {
          font-weight: bold;
          padding-right: 5px;
        }
      }
    }

    .ScrollBarEnvelop {
      width: 9px;
    }

    .ScrollBar {
      .Tracker > .Button {
        width: 7px;
      }

      .UpArrow,
      .DownArrow {
        display: none;
      }
    }

    .Red {
      .Option {
        .On,
        .Active {
          background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }
      }
    }

    .Green {
      .Option {
        .On,
        .Active {
          background-color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }
      }
    }

    .Blue {
      .Option {
        .On,
        .Active {
          background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }
      }
    }
  }
}
