// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceComponents} {
  [guiType="ToolTip"] > .Background > .Middle > .Center > .Text {
    // sass-lint:disable-block no-important
    color: $notificationColor !important;
    font-size: 12px !important;
  }

  .ToolTip {
    .Background {
      .Top,
      .Bottom {
        * {
          height: 6px;
          width: 6px;
        }
      }

      .Top {
        .Left {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Center {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          width: 6px;
        }
      }

      .Middle {
        * {
          min-height: 6px;
        }

        .Left {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          float: left;
          width: 6px;
        }

        .Center {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          float: left;
        }

        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          float: left;
          width: 6px;
        }
      }

      .Bottom {
        .Left {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Center {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }
  }
}
