// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../../../../dependencies/com-wui-framework-gui/resource/sass/reference";

$successColor: $COM_WUI_FRAMEWORK_GREEN;
$successBackgroundColor: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
$infoColor: $COM_WUI_FRAMEWORK_BLUE;
$infoBackgroundColor: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
$warningColor: #FF9300;
$warningBackgroundColor: #FFEFBB;
$errorColor: $COM_WUI_FRAMEWORK_RED;
$errorBackgroundColor: $COM_WUI_FRAMEWORK_RED_LIGHT;
