// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Notification {
  float: left;

  .Envelop {
    position: relative;
  }

  .Background {
    position: absolute;

    .Left,
    .Center,
    .Right {
      float: left;
    }

    .Center {
      left: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      text-align: center;
      top: 0;
    }
  }

  .Text {
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }
}
