// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.SelectBox {
  float: left;

  .Background,
  .Background .Top *,
  .Background .Bottom *,
  .Background .Middle .Left,
  .Background .Middle .Right,
  .Background .Middle .Center,
  .Options,
  .Option .Icon,
  .Option .Text,
  .ScrollBarEnvelop {
    float: left;
  }

  .Background,
  .Background .Middle .Center,
  .Options,
  .Option,
  .Option .Icon,
  .Option .Text,
  .ScrollBarEnvelop {
    left: 0;
    position: relative;
    top: 0;
  }

  .Background {
    z-index: 1000;
  }

  .Background .Top,
  .Background .Middle,
  .Background .Bottom {
    clear: both;
  }

  .Options {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;

    .Option {
      .Off,
      .On,
      .Active {
        background: none;
      }

      .Icon,
      .Text {
        cursor: default;
      }
    }
  }

  .ScrollBar .Tracker > .Button {
    background: none;
    border: 0;
    height: 0;
  }
}

[guiType="SelectBox"] {
  > {
    .Background .Middle .Center > .Content {
      left: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      z-index: 100;
    }

    .ScrollBarEnvelop .ScrollBar {
      left: 0;
      position: relative;
      top: 0;
      z-index: 100;
    }
  }
}
