// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.ToolTip {
  @include setOpacity(0);
  left: 0;
  position: fixed;
  top: 0;

  * {
    background-color: transparent;
  }

  .Background {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1100;

    .Top,
    .Bottom {
      clear: both;
    }

    .Top *,
    .Bottom * {
      float: left;
    }

    .Middle {
      .Left,
      .Center,
      .Right {
        float: left;
      }
    }
  }
}

[guiType="ToolTip"] > .Background > .Middle > .Center > .Text {
  // sass-lint:disable-block no-important
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
}
