// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .Accordion {
    border: 1px solid $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
    padding: 4px;

    .Loader {
      display: block;

      .Background {
        @include setOpacity(100);
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
      }

      .Icon {
        background: $COM_WUI_FRAMEWORK_USERCONTROLS_SPINNER_SMALL;
        height: 11px;
        width: 43px;
      }
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 13px;
        }

        .ContentOffset {
          height: 13px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 13px;
        }

        .ContentOffset {
          width: 13px;
        }
      }
    }

    .Horizontal {
      .Separator {
        height: 100%;
        width: 5px;
      }
    }

    .Vertical {
      .Separator {
        height: 5px;
      }
    }
  }
}
