// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="Button"] {
    > .Background {
      .Icon {
        margin-left: 5px;
        margin-right: 5px;
        top: 13px;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left,
      .Center,
      .Right {
        height: 30px;
      }

      > .Center > .Envelop {
        height: 30px;
        left: -5px;
        width: 30px;
      }
    }
  }

  .Button {
    .Splitter {
      border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
      height: 20px;
      margin-right: 4px;
      top: 5px;

      + .Text {
        color: $textColor;
        font-size: 16px;
        font-weight: bold;
        padding-right: 5px;
        top: 3px;
      }
    }

    .Disable {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }
      }

      .Splitter + .Text {
        color: $COM_WUI_FRAMEWORK_GRAY;
      }
    }

    .Error {
      .On,
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }
      }
    }

    .Off {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }

    .On {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }

    .Active {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }
      }
    }

    .Red {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED;
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }
    }

    .Green {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN;
            border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }
    }

    .Blue {
      .Off {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }
        }
      }

      .Active {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }
    }
  }
}
