// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="CheckBox"] .Text {
    padding-left: 10px;
    top: -3px;
  }

  .CheckBox {
    .Icon {
      height: 15px;
      width: 15px;
    }

    .Disable {
      .Text {
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
      }

      .Icon {
        border: 1px solid $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
      }
    }

    .Unchecked {
      .Icon {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
      }

      .Disable {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
        }
      }
    }

    .Checked {
      .Icon {
        background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
      }

      .Disable {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
        }
      }
    }

    .Off .Icon {
      border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
    }

    .On .Icon {
      border: 1px solid $COM_WUI_FRAMEWORK_BLUE_DARK;
    }

    .Active .Icon {
      border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
    }

    .Error {
      .Off,
      .On {
        .Icon {
          border: 1px solid $COM_WUI_FRAMEWORK_RED;
        }
      }

      .Text {
        color: $COM_WUI_FRAMEWORK_RED;
      }
    }
  }
}
