// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .Dialog {
    .Content .Empty {
      background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
      border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
    }

    > .Background {
      @include setOpacity(1);
      background-color: $COM_WUI_FRAMEWORK_BLACK;
    }

    .Active > .Envelop {
      border: 1px dotted $COM_WUI_FRAMEWORK_BLUE;
    }

    .Envelop > .Bottom .ResizeBar .Y {
      left: -6px;
    }

    .DragBar {
      left: -6px;
    }

    [guiType="Dialog"] {
      > .Envelop {
        border: 1px solid transparent;
        padding: 2px 0 2px 2px;

        > .Top {
          > .Left,
          > .Center,
          > .Center .Header,
          > .Right {
            height: 20px;
          }

          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_WHITE;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }

          > .Center > .Foreground {
            background-color: transparent;
            height: 20px;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_WHITE;
          }

          > .Center > .Content {
            left: -6px;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_WHITE;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
            height: 5px;
          }

          > .Center > .Foreground {
            background-color: transparent;
            height: 5px;
          }
        }

        > .Top,
        > .Middle,
        > .Bottom {
          > .Left,
          > .Right {
            width: 5px;
          }

          > .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }

          > .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
          }
        }

        > .Top,
        > .Bottom {
          > .Center > .Foreground {
            left: -6px;
          }
        }
      }
    }

    .Top {
      .Right .ImageButton {
        left: -15px;
        top: -15px;
      }

      .Center {
        .Header {
          left: -6px;

          .Icon {
            left: 5px;
            top: 8px;
          }

          .Label .Text {
            margin-left: 15px;
            top: -5px;
          }
        }
      }
    }

    .Red {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          > .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }
      }

      .Content .Empty {
        border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
      }
    }

    .Green {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }

          > .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
            border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }
      }

      .Content .Empty {
        border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
      }
    }

    .Blue {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          > .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }

        > .Middle {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }

      .Content .Empty {
        border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }
  }
}
