// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .DirectoryBrowser {
    left: 1px;

    > {
      .Off,
      .On,
      .Active {
        left: -1px;
        top: -1px;
      }

      .Off {
        border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
      }

      .On {
        border: 1px solid $COM_WUI_FRAMEWORK_ORANGE;
      }

      .Active {
        border: 1px dotted $COM_WUI_FRAMEWORK_BLUE;
      }
    }

    .Loader {
      .Background {
        @include setOpacity(10);
        background-color: $COM_WUI_FRAMEWORK_BLACK;
      }

      .Icon {
        background: $COM_WUI_FRAMEWORK_USERCONTROLS_SPINNER_SMALL;
        height: 11px;
        left: 100px;
        top: 100px;
        width: 43px;
      }
    }

    .Item {
      .Off,
      .On,
      .Active {
        height: 25px;
      }

      .On {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
      }

      .Active {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
      }

      .On .Text,
      .Active .Text {
        color: $COM_WUI_FRAMEWORK_GRAY_DARK;
      }

      .Nested {
        width: 10px;
      }

      .Text {
        padding-right: 10px;
        top: 1px;
      }

      .Icon {
        background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
        top: 3px;
        width: 8px;
      }

      .Recent {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_RED_DARK_MEDIUM;
        }
      }

      .Drive {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_BLACK;
          height: 5px;
          top: 10px;
          width: 15px;
        }
      }

      .Directory {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_ORANGE;
        }

        .Last {
          .Icon {
            background-color: $COM_WUI_FRAMEWORK_ORANGE_MEDIUM;
          }
        }

        .Hidden {
          .Icon {
            background-color: $COM_WUI_FRAMEWORK_ORANGE_LIGHT;
          }
        }
      }

      .File {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
        }
      }

      .FSLink {
        .Icon {
          background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
        }
      }

      .TextField {
        height: 25px;

        .On,
        .Active {
          background-color: transparent;
        }

        [guiType="TextField"] {
          > .Background {
            .Left,
            .Center,
            .Right {
              background-color: transparent;
              border-width: 0;
              height: 25px;
            }

            .Left,
            .Right {
              width: 0;
            }
          }
        }

        input {
          font-weight: normal;
          height: 25px;
          left: 1px;
          top: -4px;
        }
      }
    }
  }
}
