// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .HorizontalPanelHolder {

    .UserControlsTestPanel {
      border: 1px solid $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
      padding: 6px;
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 12px;
        }

        .ContentOffset {
          height: 14px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 12px;
        }

        .ContentOffset {
          width: 14px;
        }
      }
    }

    .Empty > .BasePanel {
      background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
      border: 1px solid $COM_WUI_FRAMEWORK_RED;

      .Content {
        min-width: 10px;
      }
    }

    .Opened {
      .ImageButton .Icon {
        background-color: $COM_WUI_FRAMEWORK_GRAY;
      }

      .Header {
        .Center {
          .Label {
            left: 40px;
            top: 6px;
          }
        }

        .Right {
          .Label {
            padding-left: 24px;
            position: absolute;
            right: 12px;
            top: 11px;

            .Text {
              white-space: nowrap;
            }
          }
        }
      }
    }

    .Closed {
      .ImageButton .Icon {
        background-color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
      }

      .Header {
        .Center {
          .Label {
            left: 8px;
            top: 40px;
          }
        }

        .Right {
          div {
            height: 100%;
          }

          .Label {
            bottom: 12px;
            height: auto;
            left: -18px;
            padding-top: 24px;
            position: absolute;
            width: 20px;
          }
        }
      }
    }

    .Header {
      min-width: 36px;

      > .Left,
      > .Center,
      > .Right {
        height: 36px;
        left: 0;
        top: 0;
      }

      > .Left,
      > .Right {
        width: 4px;
      }

      > .Left {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
      }

      > .Center {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        height: 775px;

        .Label {
          .Text {
            color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
            font-size: 18px;
          }
        }
      }

      > .Right {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;

        .Label {
          .Text {
            color: $COM_WUI_FRAMEWORK_GRAY;
            font-size: 12px;
          }
        }
      }

      .ImageButton {
        height: 32px;
        left: 2px;
        top: 2px;

        .Off {
          background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
          border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .On {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
        }

        .Active {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }
  }
}
