// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .BlackSquare {
    .Icon {
      background-color: $COM_WUI_FRAMEWORK_BLACK;
      height: 4px;
      width: 4px;
    }
  }

  .Disable {
    .BlackSquare {
      .Icon {
        background-color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
        height: 4px;
        width: 4px;
      }
    }
  }

  .RedSquare {
    .Icon {
      background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM;
      height: 4px;
      width: 4px;
    }
  }

  .BlueSquare {
    .Icon {
      background-color: $COM_WUI_FRAMEWORK_BLUE_DARK;
      height: 4px;
      width: 4px;
    }
  }

  .SpinnerBig {
    .Icon {
      background: $COM_WUI_FRAMEWORK_GUI_SPINNER no-repeat;
      height: 15px;
      width: 128px;
    }
  }

  .SpinnerSmall {
    .Icon {
      background: $COM_WUI_FRAMEWORK_USERCONTROLS_SPINNER_SMALL no-repeat;
      height: 11px;
      width: 43px;
    }
  }
}
