// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .ImageButton {
    .Off,
    .On,
    .Active,
    .Disable {
      height: 30px;
      width: 30px;
    }

    .Off,
    .On {
      border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
    }

    .Active {
      background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
      border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
    }

    .Disable {
      background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
      border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
    }

    .Error {
      .Off,
      .On {
        border: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
      }
    }

    .Off {
      background-color: $COM_WUI_FRAMEWORK_WHITE;
    }

    .On {
      background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
    }

    .Icon {
      background-color: $COM_WUI_FRAMEWORK_BLACK;
      height: 4px;
      left: 13px;
      top: 13px;
      width: 4px;
    }

    .Red {
      .Off {
        background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
      }

      .On {
        background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_RED;
      }

      .Active {
        background-color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }

    .Green {
      .Off {
        background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
      }

      .On {
        background-color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_GREEN;
      }

      .Active {
        background-color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }

    .Blue {
      .Off {
        background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }

      .On {
        background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      .Active {
        background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }
  }
}
