// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .Image {
    .Loading .Content .Label .Text {
      font-size: 14px;
      padding-left: 10px;
      top: -5px;
    }

    .GalleryPhoto {
      .Loading .Content .Label .Text {
        color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
      }

      .Background {
        background-color: $COM_WUI_FRAMEWORK_GRAY_DARK;
        height: 800px;
        width: 800px;
      }

      .Foreground {
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        height: 802px;
        left: -2px;
        top: -2px;
        width: 802px;
      }

      .On .Foreground {
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
      }

      .Active .Foreground {
        @include setOpacity(50);
        background-color: $COM_WUI_FRAMEWORK_BLUE;
        border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }
    }

    .Disable .Foreground {
      @include setOpacity(80);
      background-color: $COM_WUI_FRAMEWORK_GRAY;
      border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
    }
  }
}
