// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="InputLabel"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        height: 30px;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left {
        border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      .Right {
        border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }
    }
  }

  .InputLabel {
    height: 30px;

    .Envelop {
      height: 26px;
      left: -5px;
      top: 4px;

      .Text {
        padding-left: 5px;
      }
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Center .Text {
          color: $COM_WUI_FRAMEWORK_GRAY;
        }
      }
    }

    .Error,
    .Red .Error,
    .Green .Error,
    .Blue .Error {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }
      }
    }

    .Red {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Center .Text {
          color: $COM_WUI_FRAMEWORK_RED;
        }
      }
    }

    .Green {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Center .Text {
          color: $COM_WUI_FRAMEWORK_GREEN;
        }
      }
    }

    .Blue {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Center .Text {
          color: $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }
  }
}
