// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .Link {
    .Off,
    .Disable {
      .Text {
        font-weight: normal;
        text-decoration: underline;
      }
    }

    .On,
    .Active {
      .Text {
        text-decoration: none;
      }
    }

    .Active .Text {
      outline: $COM_WUI_FRAMEWORK_BLUE dotted 1px;
    }

    .Text {
      color: $COM_WUI_FRAMEWORK_BLUE;
    }

    .Disable .Text {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
    }
  }
}
