// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="ProgressBar"] {
    > .Background {
      > .Left,
      > .Center,
      > .Right {
        height: 20px;
      }

      > .Left,
      > .Right {
        width: 10px;
      }

      > .Left {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      > .Center {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        width: 130px;
      }

      > .Right {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }
    }
  }

  .ProgressBar {
    .Background {
      .Bar {
        height: 16px;
        left: -10px;
        top: 2px;

        .Envelop {
          left: 2px;
          width: 146px;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          height: 16px;
        }

        .Left,
        .Right {
          width: 5px;
        }

        .Center {
          width: 136px;
        }
      }
    }

    .Disable,
    .Blue .Disable,
    .Green .Disable,
    .Red .Disable {
      .Background {
        > .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        > .Left,
        > .Center,
        > .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        > .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
          }
        }
      }
    }

    .Red {
      .Background {
        > .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        > .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_RED;
          }
        }
      }
    }

    .Green {
      .Background {
        > .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        > .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN;
          }
        }
      }
    }

    .Blue {
      .Background {
        > .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        > .Left,
        > .Center,
        > .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        > .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE;
          }
        }
      }
    }
  }
}
