// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="Tabs"] {
    > .Off,
    > .On,
    > .Disable,
    > .Active {
      height: 36px;
      padding: 2px;
    }

    > .Active {
      outline: $COM_WUI_FRAMEWORK_BLUE dotted 1px;
    }
  }

  .Tabs {
    .Background {
      height: 36px;

      .ImageButton {
        .Off,
        .On,
        .Active,
        .Disable {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
          border: 0 solid $COM_WUI_FRAMEWORK_WHITE;
          height: 32px;
          width: 25px;
        }

        .Icon {
          top: 15px;
        }

        .Active,
        .On {
          .Icon {
            background-color: $COM_WUI_FRAMEWORK_BLUE;
          }
        }
      }

      .LeftArrow .ImageButton .Icon {
        left: 3px;
      }

      .RightArrow .ImageButton .Icon {
        left: 18px;
      }

      .Items {
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
        height: 35px;
        width: 300px;

        .Item {
          [guiType="Button"] {
            > .Background {
              .Left,
              .Center,
              .Right {
                height: 35px;
              }

              .Icon {
                margin: 0;
              }
            }
          }

          .Selector {
            background-color: $COM_WUI_FRAMEWORK_BLUE;
            height: 4px;
            left: 5px;
            top: 32px;
            width: 30px;
          }

          .Splitter + .Text {
            color: $COM_WUI_FRAMEWORK_BLUE;
            font-weight: normal;
            margin-left: 18px;
            margin-right: 10px;
            top: 8px;
          }

          .Disable .Splitter + .Text {
            color: $COM_WUI_FRAMEWORK_GRAY;
          }

          .Disable,
          .Off {
            .Background {
              .Left,
              .Center,
              .Right {
                background-color: $COM_WUI_FRAMEWORK_WHITE;
                border: 0 solid $COM_WUI_FRAMEWORK_WHITE;
                border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
              }
            }
          }

          .On,
          .Active {
            .Background {
              .Left,
              .Center,
              .Right {
                background-color: $COM_WUI_FRAMEWORK_WHITE;
                border: 0 solid $COM_WUI_FRAMEWORK_WHITE;
              }
            }
          }

          .Selected {
            [guiType="Button"] {
              > .Background {
                .Left,
                .Center,
                .Right {
                  background-color: $COM_WUI_FRAMEWORK_WHITE;
                  border-bottom: 0 solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
                  border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
                }

                .Left {
                  border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
                  width: 4px;
                }

                .Right {
                  border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
                  width: 4px;
                }
              }
            }

            .Splitter + .Text {
              color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
              top: 7px;
            }
          }
        }
      }
    }

    .Red {
      .Items .Item {
        .Selector {
          background-color: $COM_WUI_FRAMEWORK_RED;
        }

        .Splitter + .Text {
          color: $COM_WUI_FRAMEWORK_RED;
        }
      }
    }

    .Blue {
      .Items .Item {
        .Selector {
          background-color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Splitter + .Text {
          color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }
      }
    }

    .Green {
      .Items .Item {
        .Selector {
          background-color: $COM_WUI_FRAMEWORK_GREEN;
        }

        .Splitter + .Text {
          color: $COM_WUI_FRAMEWORK_GREEN;
        }
      }
    }
  }
}
