// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="TextArea"] {
    > .Background .Middle .Center > .Content {
      left: -7px;
      top: -7px;
    }
  }

  .TextArea {
    .Envelop {
      left: 0;
      padding: 6px;
      top: 0;
    }

    .ScrollBar {
      .UpArrow,
      .DownArrow {
        display: none;
      }
    }

    .ResizeBar {
      height: 11px;
      left: 3px;
      top: -3px;
    }

    textarea {
      font-weight: bold;
    }

    .Hint {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
    }

    .CounterEnvelop {
      left: -5px;
      top: 5px;
    }

    .Counter .Text {
      font-size: 13px;
      padding-bottom: 5px;
      text-align: right;

      .Value {
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        font-size: 14px;
      }
    }

    .Background {
      .Top,
      .Bottom {
        .Left,
        .Right {
          height: 6px;
          width: 6px;
        }

        .Center {
          height: 6px;
        }
      }

      .Top,
      .Middle,
      .Bottom {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
        }
      }

      .Top {
        .Left,
        .Center,
        .Right {
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }

      .Middle {
        .Left,
        .Right {
          width: 6px;
        }

        .Center {
          background-color: $COM_WUI_FRAMEWORK_WHITE;
        }
      }

      .Bottom {
        .Left,
        .Center,
        .Right {
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }

    .Active,
    .Blue .Active,
    .Green .Active,
    .Red .Active {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
          }
        }
      }
    }

    .Error,
    .Blue .Error,
    .Green .Error,
    .Red .Error {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }
      }
    }

    .Disable,
    .Blue .Disable,
    .Green .Disable,
    .Red .Disable {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          }

          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          }
        }
      }

      textarea {
        color: $COM_WUI_FRAMEWORK_GRAY;
      }
    }

    .Red {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          }
        }
      }

      textarea {
        color: $COM_WUI_FRAMEWORK_RED;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
      }

      .ResizeBar {
        .X,
        .Y,
        .XY {
          background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
        }
      }

      .Counter .Text .Value {
        color: $COM_WUI_FRAMEWORK_RED_MEDIUM;
      }
    }

    .Green {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          }
        }
      }

      textarea {
        color: $COM_WUI_FRAMEWORK_GREEN;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
      }

      .ResizeBar {
        .X,
        .Y,
        .XY {
          background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
        }
      }

      .Counter .Text .Value {
        color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
      }
    }

    .Blue {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }

      textarea {
        color: $COM_WUI_FRAMEWORK_BLUE;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
      }

      .ResizeBar {
        .X,
        .Y,
        .XY {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
        }
      }

      .Counter .Text .Value {
        color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
      }
    }
  }
}
