// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  [guiType="TextField"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        background-color: $COM_WUI_FRAMEWORK_WHITE;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        height: 30px;
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left {
        border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }

      .Right {
        border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE;
      }
    }
  }

  .TextField {
    height: 30px;

    .Envelop {
      left: -1px;
      top: 4px;
    }

    .Icon {
      margin-right: 5px;
      top: 9px;
    }

    input {
      font-weight: bold;
    }

    .Disable,
    .Red .Disable,
    .Green .Disable,
    .Blue .Disable {
      input {
        color: $COM_WUI_FRAMEWORK_GRAY;
      }

      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }
      }
    }

    .Hint {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
    }

    .Background .Right .SpinnerSmall .Icon {
      background-color: $COM_WUI_FRAMEWORK_WHITE;
      left: -48px;
      padding: 5px;
      top: 4px;
    }

    .SelectBox {
      left: 5px;
      top: 4px;

      .Background {
        .Top {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }

        .Middle {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }

        .Bottom {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }

      .Option {
        .Text {
          font-weight: normal;

          .LookUp {
            font-weight: bold;
          }
        }
      }
    }

    .Active,
    .Red .Active,
    .Green .Active,
    .Blue .Active {
      > [guiType="TextField"] {
        > .Background {
          .Left {
            border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
            border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }

          .Right {
            border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          }
        }
      }
    }

    .Error,
    .Red .Error,
    .Green .Error,
    .Blue .Error {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }
      }
    }

    .ReadOnly {
      .Background {
        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
        }
      }
    }

    .Red {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_RED_MEDIUM;
        }
      }

      input {
        color: $COM_WUI_FRAMEWORK_RED;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_RED_MEDIUM_LIGHT;
      }
    }

    .Green {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_GREEN_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_GREEN_MEDIUM;
        }
      }

      input {
        color: $COM_WUI_FRAMEWORK_GREEN;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_GREEN_MEDIUM_LIGHT;
      }
    }

    .Blue {
      .Background {
        .Left {
          border-left: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Left,
        .Center,
        .Right {
          background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
          border-bottom: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
          border-top: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }

        .Right {
          border-right: 1px solid $COM_WUI_FRAMEWORK_BLUE_MEDIUM;
        }
      }

      input {
        color: $COM_WUI_FRAMEWORK_BLUE;
      }

      .Hint {
        color: $COM_WUI_FRAMEWORK_BLUE_MEDIUM_LIGHT;
      }
    }
  }
}
