// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkUserControlsBaseInterfaceUserControls} {
  .VerticalPanelHolder {

    .UserControlsTestPanel {
      border: 1px solid $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
      padding: 6px;
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 12px;
        }

        .ContentOffset {
          height: 14px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 12px;
        }

        .ContentOffset {
          width: 14px;
        }
      }
    }

    .Empty > .BasePanel {
      background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
      border: 1px solid $COM_WUI_FRAMEWORK_RED;

      .Content {
        min-height: 40px;
      }
    }

    .Header {
      min-height: 36px;

      > .Left,
      > .Center,
      > .Right {
        height: 36px;
        left: 0;
        top: 0;
      }

      > .Left,
      > .Right {
        width: 4px;
      }

      > .Left {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;
      }

      > .Center {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;

        .Label {
          left: 40px;
          top: 6px;

          .Text {
            color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
            font-size: 18px;
          }
        }
      }

      > .Right {
        background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        border-bottom: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-right: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        border-top: 1px solid $COM_WUI_FRAMEWORK_GRAY;

        .Label {
          padding-left: 24px;
          position: absolute;
          right: 12px;
          top: 11px;

          .Text {
            color: $COM_WUI_FRAMEWORK_GRAY;
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }

      .ImageButton {
        left: 2px;
        top: 2px;
        width: 32px;

        .Off {
          background-color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
          border: 1px solid $COM_WUI_FRAMEWORK_GRAY;
        }

        .On {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border: 1px solid $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
        }

        .Active {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
          border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
        }
      }
    }

    .Opened {
      .ImageButton .Icon {
        background-color: $COM_WUI_FRAMEWORK_GRAY;
      }
    }

    .Closed {
      .ImageButton .Icon {
        background-color: $COM_WUI_FRAMEWORK_GRAY_DARK_MEDIUM;
      }
    }
  }
}
