// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Button {
  cursor: pointer;
  float: left;

  .Disable {
    cursor: default;
  }

  .Splitter,
  .Icon,
  .Text {
    background: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }

  .Splitter {
    border: 0 solid transparent;
    height: 0;

    + .Text {
      left: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      top: 0;
      white-space: nowrap;
    }
  }
}

[guiType="Button"] {
  > .Background {
    .Left,
    .Center,
    .Right,
    > .Center > .Envelop > .Content * {
      float: left;
    }

    > .Center > .Envelop {
      left: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      text-align: center;
      top: 0;

      > .Content {
        background: none;
        display: inline-block;
        left: 0;
        margin: auto;
        padding: 0;
        position: relative;
        top: 0;
      }
    }
  }
}
