// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.Dialog {
  border: 0;
  float: left;
  height: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 100;

  .Content .Empty {
    height: 300px;
    width: 300px;
  }

  > .Background {
    height: 400px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .Top {
    .Right .ImageButton {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 900;
    }

    .Center {
      .Header {
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        top: 0;
        z-index: 20;

        .Content {
          left: 0;
          margin: auto;
          padding: 0;
          position: relative;
          top: 0;
        }

        .Label .Text {
          left: 0;
          overflow-x: hidden;
          overflow-y: hidden;
          position: relative;
          top: 0;
        }
      }
    }
  }

  .Envelop {
    > .Middle > .Right .ResizeBar,
    > .Bottom .ResizeBar {
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 100;
    }

    > .Middle > .Right .ResizeBar .X,
    > .Bottom .ResizeBar .Y,
    > .Bottom .ResizeBar .X,
    > .Bottom .ResizeBar .XY {
      background: none;
      height: 10px;
      position: relative;
      width: 10px;
    }

    > .Middle > .Right .ResizeBar .X,
    > .Bottom .ResizeBar .Y,
    > .Bottom .ResizeBar .X,
    > .Bottom .ResizeBar .XY,
    > .Middle > .Right .On .ResizeBar .X,
    > .Bottom .On .ResizeBar .Y,
    > .Bottom .On .ResizeBar .X,
    > .Bottom .On .ResizeBar .XY,
    > .Middle > .Right .Active .ResizeBar .X,
    > .Bottom .Active .ResizeBar .Y,
    > .Bottom .Active .ResizeBar .X,
    > .Bottom .Active .ResizeBar .XY {
      border: 0;
    }

    > .Middle > .Right .ResizeBar .X {
      left: 4px;
      width: 6px;
    }
  }

  .DragBar {
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .Panel {
    .PanelBar {
      .ScrollBar {
        position: relative;
        z-index: 100;

        .Vertical .Tracker {
          left: 0;
          position: relative;
          top: 0;
          z-index: 0;
        }

        .Horizontal .Tracker {
          left: 0;
          position: relative;
          top: 0;
          z-index: 100;
        }
      }
    }
  }
}

[guiType="Dialog"] {
  > .Envelop {
    float: left;
    left: 0;
    position: absolute;
    top: 0;

    > .Top,
    > .Middle,
    > .Bottom {
      > .Left,
      > .Center,
      > .Right {
        float: left;
        position: relative;
      }
    }

    > .Middle > .Center > .Content {
      // sass-lint:disable-block no-important
      border: 0 !important;
      left: 0;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      z-index: 10;
    }

    > .Top,
    > .Bottom {
      > .Center > .Foreground {
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 10;
      }
    }
  }
}
