// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.DirectoryBrowser {
  float: left;
  left: 0;
  position: relative;
  top: 0;

  > [guiType="Panel"] > .Envelop > .Content {
    // sass-lint:disable-block no-important
    width: unset !important;
  }

  > {
    .Off,
    .On,
    .Active {
      display: none;
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  .Loader {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .Background,
    .Icon {
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1000;
    }
  }

  .Item {
    clear: both;
    font-size: 0;
    white-space: nowrap;

    .Icon {
      display: inline-block;
      float: none;
      position: relative;
    }

    .Nested {
      height: 1px;
      width: 0;
    }

    .Nested,
    .Text {
      cursor: default;
      display: inline-block;
      font-size: initial;
      left: 0;
      position: relative;
      top: 0;
    }

    .TextField {
      .Icon {
        display: none;
      }
    }
  }
}
