// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.DropDownList {
  float: left;

  .Button,
  .Item .Icon,
  .Item .Text,
  .Field,
  .Field .Background,
  .Field .Background *,
  .List,
  .List .Background,
  .List .Background .Top *,
  .List .Background .Bottom *,
  .List .Background .Middle .Left,
  .List .Background .Middle .Right,
  .List .Background .Middle .Center,
  .List .Available,
  .List .Available .Content,
  .List .ScrollBarEnvelop {
    float: left;
  }

  .Item,
  .Item .Icon,
  .Item .Text,
  .Field,
  .Field .Background .Left,
  .Field .Background .Center,
  .Field .Background .Right,
  .List,
  .List .Background .Middle .Center,
  .List .Available,
  .List .Available .Content,
  .List .ScrollBarEnvelop {
    left: 0;
    position: relative;
    top: 0;
  }

  .Button,
  .List .Available,
  .List .Available .Content {
    margin: 0;
    padding: 0;
  }

  .List {
    .Background {
      z-index: 1000;
    }

    .Background .Top,
    .Background .Middle,
    .Background .Bottom,
    .Available {
      clear: both;
    }

    .Available {
      .Item {
        .Off,
        .On,
        .Active {
          background: none;
        }
      }
    }
  }

  .Field .DownArrow,
  .List .UpArrow {
    position: absolute;
    right: 0;
    top: 0;
  }

  .ScrollBar .Tracker > .Button {
    background: none;
    border: 0;
    height: 0;
  }

  .Field,
  .Field .Item,
  .List .Selected .Item,
  .List .Available,
  .List .Available .Content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .Item {
    .Icon,
    .Text {
      cursor: default;
    }

    .Text {
      white-space: nowrap;
    }
  }

  .Field .Selected .Item .Text {
    color: inherit;
  }

  .Disable {
    .Button {
      cursor: default;
    }
  }
}

[guiType="DropDownList"] {
  > .List {
    .Background .Middle .Center > .Content {
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
    }

    .ScrollBarEnvelop .ScrollBar {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;
    }
  }
}
