// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.Image {
  float: left;
  position: relative;

  img {
    border: 0;
    outline: none;
  }

  .Disable .Foreground {
    cursor: default;
  }

  .Background {
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }

  .UndefinedCssName {
    // sass-lint:disable-block no-important
    background-color: $COM_WUI_FRAMEWORK_RED_LIGHT;
    border: 1px solid $COM_WUI_FRAMEWORK_RED !important;
    color: $COM_WUI_FRAMEWORK_RED;
    height: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
    width: inherit;
  }

  .Hidden {
    @include setOpacity(0);
    border: 0;
  }

  .Foreground {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .Loading,
  .Loaded {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }

  .Loaded {
    line-height: 0;
  }

  .Loading {
    .Content {
      bottom: 0;
      display: none;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;

      .Icon {
        float: left;
      }

      .Label .Text {
        left: 0;
        position: relative;
        top: 0;
      }
    }
  }
}
