// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

[guiType="InputLabel"] {
  > .Background {
    .Center > .Envelop {
      overflow-x: hidden;
      overflow-y: hidden;

      .Text {
        left: 0;
        position: relative;
        top: 0;
        white-space: nowrap;
      }
    }
  }
}

.InputLabel {
  cursor: default;
  float: left;

  .Background .Left,
  .Background .Center,
  .Background .Right {
    float: left;
  }

  .Envelop,
  .Background .Center {
    left: 0;
    position: relative;
    top: 0;
  }
}
