// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.NumberPicker {
  float: left;
  position: relative;

  .Background {
    .Bar {
      left: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      top: 0;
      width: 0;

      .Left,
      .Center,
      .Right {
        float: left;
      }
    }
  }

  .Notification {
    height: 0;
    left: 0;
    position: relative;
    top: 0;
    width: 0;

    .Pointer {
      clear: both;
      cursor: pointer;
      float: left;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;
    }

    .Background {
      border: 0;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;

      .Left,
      .Center,
      .Right,
      .Arrow {
        border: 0;
        float: left;
      }

      .Arrow {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 100;
      }
    }

    .Text {
      cursor: default;
      display: inline;
      float: left;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1000;
    }
  }

  .Disable .Notification .Pointer {
    cursor: default;
  }
}

[guiType="NumberPicker"] {
  > .Background {
    left: 0;
    position: relative;
    top: 0;

    > .Left,
    > .Center,
    > .Right {
      float: left;
    }
  }
}
