// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.ProgressBar {
  float: left;

  .Left,
  .Center,
  .Right {
    float: left;
  }

  .Background {
    .Bar {
      left: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      position: absolute;
      top: 0;
      width: 0;

      .Envelop {
        left: 0;
        position: relative;
        top: 0;
      }
    }
  }
}

[guiType="ProgressBar"] > .Background > .Center {
  left: 0;
  position: relative;
  top: 0;
}
