// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.Tabs {
  .Background {
    float: left;
    height: 30px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 0;

    .ImageButton {
      @include setOpacity(0);
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;
    }

    .LeftArrow,
    .RightArrow {
      position: absolute;
    }

    .Items {
      left: 0;
      position: relative;
      top: 0;

      .Item {
        float: left;
        left: 0;
        position: relative;
        top: 0;

        .Splitter {
          display: none;
        }

        .Selector {
          cursor: pointer;
          display: none;
          left: 0;
          position: absolute;
          top: 0;
        }

        .Selected {
          .Background {
            cursor: default;
          }
        }
      }
    }
  }
}

[guiType="Tabs"] {
  left: 0;
  position: relative;
  top: 0;

  > .Off,
  > .On,
  > .Disable,
  > .Active {
    float: left;
    outline: none;
  }
}
