// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.TextField {
  float: left;

  .Envelop *,
  .Background .Left,
  .Background .Center,
  .Background .Right {
    float: left;
  }

  input {
    background-color: transparent;
    border-width: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    &[readonly="readonly"] {
      cursor: default;
    }
  }

  .Disable input {
    cursor: default;
  }

  .Envelop,
  .Background .Center {
    left: 0;
    position: relative;
    top: 0;
  }

  .Background .Right {
    left: 0;
    position: relative;
    top: 0;

    .Icon {
      display: none;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1001;
    }
  }

  .SelectBox {
    clear: both;
    left: 0;
    position: relative;
    top: 0;
  }
}
