// * ********************************************************************************************************* *
// *
// * Copyright (c) 2010-2013 Jakub Cieslar
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.TextArea {
  float: left;
  left: 0;
  position: relative;
  top: 0;

  textarea {
    background-color: transparent;
    border: 0 solid $COM_WUI_FRAMEWORK_BLACK;
    left: unset;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    top: unset;

    &[readonly="readonly"] {
      cursor: default;
    }
  }

  .Envelop {
    float: left;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    top: 0;
  }

  .Background,
  .Background .Top .Left,
  .Background .Top .Center,
  .Background .Top .Right,
  .Background .Middle .Left,
  .Background .Middle .Center,
  .Background .Middle .Right,
  .Background .Bottom .Left,
  .Background .Bottom .Right,
  .Background .Bottom .Center {
    float: left;
  }

  .Background {
    .Top,
    .Middle,
    .Bottom {
      clear: both;
    }

    .Middle .Center {
      left: 0;
      position: relative;
      top: 0;
    }
  }

  .ScrollBar {
    z-index: 10;
  }

  .CounterEnvelop {
    clear: both;
    left: 0;
    position: relative;
    top: 0;
  }

  .Counter {
    float: right;
  }
}

[guiType="TextArea"] > .Background > .Middle > .Center > .Content {
  background: none;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  top: 0;
}
