// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.VerticalPanelHolder {
  @include setOpacity(0);
  position: relative;

  .Empty {
    position: relative;
  }

  .Header {
    // sass-lint:disable-block no-vendor-prefixes
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    user-select: none;
    z-index: 7500;

    .Label {
      position: relative;
    }

    > .Left,
    > .Center,
    > .Right {
      float: left;
      position: relative;
    }

    > .Center {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    > .Right {
      .Label {
        overflow-x: hidden;
        overflow-y: hidden;

        .Text {
          float: right;
        }
      }
    }

    .ImageButton {
      position: absolute;
      z-index: 7600;
    }
  }
}
